@media only screen and (max-width: 1950px) {}
@media only screen and (max-width: 1670px) {}
@media (max-width: 1024px) {

    .mobile .c10,
    .hidden-row {
        display: none !important;
    }

    h1.text-logo {
        padding: 23px 0 0;
    }

    .ms_layers_wrapper h1 {
        font-size: 64px !important;
        line-height: 66px !important;
        margin-bottom: 55px !important;
    }

    .custom-header img {
        min-height: 500px;
    }

    .custom-headings {
        position: absolute;
        top: 23%;
    }

    h1.page-title.entry-title {
        font-size:34px !important;
        line-height: 44px !important;
    }

    .page-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .author-bio,
    #respond,
    .entry {
        width: 100%;
        max-width: 100%;
    }

    .author-bio {
        padding:15px;
    }

    .author-bio img {
        width: 180px !important;
        height: auto;
        float: none;
        margin:40px 0!important;
    }

}

@media (max-width: 768px) {

    .scroll-arrow {
        display: none !important;
    }

    .post-excerpt .author-avatar,
    .post-single .author-avatar {
        width: 110px;
        margin-bottom: 0;
    }

    .copyright-info {
        text-align: center;
    }

    .pagination {
        float: left;
    }

}

@media (max-width: 479px) {

    .meta-details {
        padding:0 15px;
    }

    .page-subtitle,
    .scroll-arrow {
        display: none !important;
    }

    .post-tags {
        margin-top: 20px;
        a {
            margin: 0;
            padding: 3px 5px;
        }
    }

    .copyright-info {
        float: none;
        margin-top: 30px;
    }

    .projectp .gform_wrapper .gfield_checkbox li label, 
    .projectp .gform_wrapper .gfield_radio li label {
        margin: 20px 0  !important;
    }

}